<!doctype html>
<html>
  <head>
   <meta charset="utf-8">
   <title>Lunar Rebellion</title>
   <link href="https://fonts.googleapis.com/css?family=Tulpen+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      window.onload = function() {
        var socket = io('/chatspace');
        var messages = document.getElementById("messages");
        // var formSubmit = document.getElementById("formSubmitBtn");

        // formSubmit.addEventListener('click', function() {
        $('#chatBox').submit(function(){
          // var mContent = document.getElementById("m").value;
          // socket.emit('chat message', mContent);
          socket.emit('chat message', $("#m").val());
          $("#m").val('');
          // m.value = '';
          return false;
        });

        socket.on('chat message', function(msg){
          let node = document.createElement("li");
          let textnode = document.createTextNode(msg);
          node.appendChild(textnode);
          messages.appendChild(node);
        });
      }
    </script>
    <script>
    // *********************************************
    // **    Code Author:   Sheyna Watkins
    // **    Date Started: Christmas 2017
    // **    Feb. 2018: Added Express and Socket.io base
    // **    Description: Lunar Rebellion Game
    // **
    // **********************************************

    function Tile(title, id) {
      this.title = title;
      this.id = id;
    }

    class OuterSector extends Tile {
      constructor(title, id, type, abbre, friendly) {
        super(title, id, friendly);
        this.type = type;
        this.abbre = abbre;
        this.friendly = friendly;
      }
    }

    class MaglevPlatform extends Tile {
      constructor(title, id) {
        super(title, id);
      }
    }

    class LavaTube extends Tile {
      constructor(title, id) {
        super(title, id);
      }
    }

    var lavanaThroneRoom = new Tile("Lavana's Throne Room", "lavanaThroneRoom");
    var centralDais = new Tile("Central Dais", "centralDais");
    var jacinsQuarters = new Tile("Jacin's Private Quarters", "jacinsQuarters");
    var wintersRoom = new Tile("Winter's room", "wintersRoom");
    var royalPortOfArtemisia = new Tile("Royal Port of Artemisia", "royalPortOfArtemisia");
    var queensSolar = new Tile("Queen's Solar", "queensSolar");
    var atrium = new Tile("Atrium", "atrium");
    var menagerie = new Tile("Menagerie", "menagerie");
    var tvStudio = new Tile("TV Studio", "tvStudio");
    // var = new Tile("");
    // var = new Tile("");
    // var = new Tile("");
    // var = new Tile("");

    var lavaTube1 = new LavaTube("Lava Tube 1", "lavaTube1");
    var lavaTube2 = new LavaTube("Lava Tube 2", "lavaTube2");
    var lavaTube3 = new LavaTube("Lava Tube 3", "lavaTube3");
    var lavaTube4 = new LavaTube("Lava Tube 4", "lavaTube4");
    var lavaTube5 = new LavaTube("Lava Tube 5", "lavaTube5");
    var lavaTube6 = new LavaTube("Lava Tube 6", "lavaTube6");

    var maglevPlatform1 = new MaglevPlatform("Maglev Platform 1", "maglevPlatform1");
    var maglevPlatform2 = new MaglevPlatform("Maglev Platform 2", "maglevPlatform2");
    var maglevPlatform3 = new MaglevPlatform("Maglev Platform 3", "maglevPlatform3");
    var maglevPlatform4 = new MaglevPlatform("Maglev Platform 4", "maglevPlatform4");
    var maglevPlatform5 = new MaglevPlatform("Maglev Platform 5", "maglevPlatform5");
    var maglevPlatform6 = new MaglevPlatform("Maglev Platform 6", "maglevPlatform6");

    var outerSectorGC6 = new OuterSector("Outer Sector", "outerSectorGC6", "General Construction", "GC-6", true);
    var outerSectorLW12 = new OuterSector("Outer Sector", "outerSectorLW12", "Lumber and Wood Production", "LW-12", true);
    var outerSectorRM9 = new OuterSector("Outer Sector", "outerSectorRM9", "Regolith Mining", "RM-9", true);
    var outerSectorRD1 = new OuterSector("Outer Sector", "outerSectorRD1", "Research and Development", "RD-1", false);
    var outerSectorRD4 = new OuterSector("Outer Sector", "outerSectorRD4", "Research and Development", "RD-4", false);
    var outerSectorTS1 = new OuterSector("Outer Sector", "outerSectorTS1", "Technical Services", "TS-1", false);
    var outerSectorTS2 = new OuterSector("Outer Sector", "outerSectorTS2", "Technical Services", "TS-2", false);
    var outerSectorTS76 = new OuterSector("Outer Sector", "outerSectorTS76", "Technical Services", "TS-76", false);
    var outerSectorWS1 = new OuterSector("Outer Sector", "outerSectorWS1", "Waste Salvage", "WS-1", true);

    var tiles = [
      lavanaThroneRoom,
      centralDais,
      jacinsQuarters,
      wintersRoom,
      royalPortOfArtemisia,
      queensSolar,
      atrium,
      menagerie,
      tvStudio,
      lavaTube1,
      lavaTube2,
      lavaTube3,
      lavaTube4,
      lavaTube5,
      lavaTube6,
      maglevPlatform1,
      maglevPlatform2,
      maglevPlatform3,
      maglevPlatform4,
      maglevPlatform5,
      maglevPlatform6,
      outerSectorGC6,
      outerSectorLW12,
      outerSectorRM9,
      outerSectorRD1,
      outerSectorRD4,
      outerSectorTS1,
      outerSectorTS2,
      outerSectorTS76,
      outerSectorWS1
    ];

    tiles = shuffle(tiles);

    // Shuffle Source: https://css-tricks.com/snippets/javascript/shuffle-array/
    function shuffle(arr) {
      for(let j, x, i = arr.length; i; j = parseInt(Math.random() * i), x = arr[--i], arr[i] = arr[j], arr[j] = x);
      return arr;
    };

    // Create the HTML to be printed on the page:
    function createBoardHTML(player) {
      // var playerStartTile = `
      //   <div class="boardTile" id="${tiles[i].id }">
      //     <div id="playerAvatar" class="player-avatar ${player} ${player}-start"></div>
      //     <span>${tiles[i].title}</span>
      //   </div>
      // `;
      let boardHTML = `
        <section id="sideContent" class="playerInfoSide">
          <p>Player:</p>
          <p class="player-card"> ${player} </p>
          <aside class="tool">
            <div id="diceResult">
              <small id="diceContent">Click to Roll Dice</small>
            </div>
            <button id="rollDiceBtn">Roll Dice</button>
          </aside>
          <button id="newGameBtn">New Game</button>
        </section>
        <section class="playArea">
          <div class="board" id="boardTiles">
      `;
      for (let i = 0; i < tiles.length; i++) {
        if (tiles[i].id == "royalPortOfArtemisia" && (player == "Cress" || player == "Cinder")) {
          boardHTML += `
            <div class="boardTile" id="${tiles[i].id }">
              <div id="playerAvatar" class="player-avatar ${player} ${player}-start"></div>
              <span>${tiles[i].title}</span>
            </div>
          `;
        } else if (tiles[i].id == "menagerie" && player == "Scarlet") {
          boardHTML += `
            <div class="boardTile" id="${tiles[i].id }">
              <div id="playerAvatar" class="player-avatar ${player} ${player}-start"></div>
              <span>${tiles[i].title}</span>
            </div>
          `;
        } else if (tiles[i].id == "wintersRoom" && player == "Winter") {
          boardHTML += `
            <div class="boardTile" id="${tiles[i].id }">
              <div id="playerAvatar" class="player-avatar ${player} ${player}-start"></div>
              <span>${tiles[i].title}</span>
            </div>
          `;
        } else {
          boardHTML += `
            <div class="boardTile" id="${tiles[i].id }">
              <span>${tiles[i].title}</span>
            </div>
          `;
        }
      }
      boardHTML += `
          </div>
        </section>
        <section class="chat">
          <ul id="messages"></ul>
          <form id="chatBox" action="">
            <input id="m" autocomplete="off" placeholder="Type chat message here" />
            <button id="chatSubmitBtn">Send</button>
          </form>
        </section>
      `;
      return boardHTML;
    }

    var player;

    function selectPlayerStartGame() {
      var radios = document.getElementsByName('player');

      for (var f = 0, length = radios.length; f < length; f++) {
        if (radios[f].checked) {
          player = radios[f].value;

          // only one radio can be logically checked, don't check the rest
          break;
        }
      }

      // Call the function to create the HTML:
      var boardHTML = createBoardHTML(player);

      let contentArea = document.getElementById("contentArea");
      let questionFormBox = document.getElementById("questionFormBox");
      contentArea.removeChild(questionFormBox);
      contentArea.insertAdjacentHTML('beforeend', boardHTML);

      var boardTilesIDs = document.querySelectorAll(".board > div");
      var result = [];

      // // add the event listeners for all the cells:
      // for (var z = 0; z < boardTilesIDs.length; z++) {
      //   result = boardTilesIDs[z];
      //   result.addEventListener('click', function() {
      //     // function
      //   });
      // }

      var collection = document.getElementById("boardTiles");
      // collection.addEventListener('click', showScreenCoords);
      collection.onclick = showScreenCoords;

      // dragElement(document.getElementById(("playerAvatar")));

      // create event listeners for the buttons at the bottom of the page:
      document.getElementById("newGameBtn").addEventListener('click', function() {
        window.location.reload();
      });

      // create event listeners for the buttons at the bottom of the page:
      document.getElementById("diceResult").addEventListener('click', function() {
        rollDice();
      });

      // create event listeners for the buttons at the bottom of the page:
      document.getElementById("rollDiceBtn").addEventListener('click', function() {
        rollDice();
      });
    }

    function rollDice() {
      let diceResult = document.getElementById("diceResult");
      let diceContent = document.getElementById("diceContent");
      diceResult.removeChild(diceContent);
      let diceRoll = Math.floor(Math.random() * 6 + 1);
      diceRoll = '<span id="diceContent">' + diceRoll + '</span>';
      setTimeout(function(){
        diceResult.insertAdjacentHTML('beforeend', diceRoll);
      }, 500);
    }

    // adapted from: https://www.w3schools.com/howto/howto_js_draggable.asp
    // function dragElement(element) {
    //   var pos1 = 0,
    //     pos2 = 0,
    //     pos3 = 0,
    //     pos4 = 0;
    //   element.onmousedown = dragMouseDown;

    //   function dragMouseDown(e) {
    //     e = e || window.event;
    //     // get the mouse cursor position at startup:
    //     pos3 = e.clientX;
    //     pos4 = e.clientY;
    //     // get ID of starting position's tile
    //     var startPositionTile = e.target.parentNode.id;
    //     console.log("Start Tile is: " + startPositionTile);
    //     document.onmouseup = closeDragElement;
    //     // call a function whenever the cursor moves:
    //     document.onmousemove = elementDrag;
    //   }

    //   function elementDrag(e) {
    //     e = e || window.event;
    //     // calculate the new cursor position and set the element's new position:
    //     console.log("client x: " + e.clientX);
    //     console.log("Before: pos 1: " + pos1 + " pos3: " + pos3);
    //     // if (e.offsetX > 0) {
    //     //if (parseInt(e.clientX) > 225) {
    //       pos1 = pos3 - e.clientX;
    //       pos3 = e.clientX;
    //       console.log("Before Reg: Offset Left: " + element.offsetLeft);
    //       element.style.left = (element.offsetLeft - pos1) + "px";
    //       console.log("After reg: pos 1: " + pos1 + " pos3: " + pos3);
    //       console.log("After ref: Offset Left: " + element.offsetLeft);
    //     // // } else {
    //     //   console.log("After else: pos 1: " + pos1 + " pos3: " + pos3);
    //     //   console.log("Before else: Offset Left: " + element.offsetLeft);
    //     //   element.style.left = (element.offsetLeft) + "px";
    //     //   console.log("After else: Offset Left: " + element.offsetLeft);
    //     // // }
    //     console.log("client y: " + e.clientY);
    //     console.log("Before: pos 2: " + pos1 + " pos4: " + pos3);
    //     // if (e.offsetY > 0) {
    //     // if (parseInt(e.clientY) > 45) {
    //       pos2 = pos4 - e.clientY;
    //       pos4 = e.clientY;
    //       console.log("Before: Offset Top: " + element.offsetTop);
    //       element.style.top = (element.offsetTop - pos2) + "px";
    //       console.log("After reg: pos 2: " + pos1 + " pos4: " + pos3);
    //       console.log("After reg: Offset Top: " + element.offsetTop);
    //     // // } else {
    //     //   console.log("Before else: Offset Top: " + element.offsetTop);
    //     //   element.style.top = (element.offsetTop) + "px";
    //     //   console.log("After else: pos 2: " + pos1 + " pos4: " + pos3);
    //     //   console.log("After else: Offset Top: " + element.offsetTop);
    //     // }
    //     console.log("-------");
    //   }

    //   function closeDragElement() {
    //     /* stop moving when mouse button is released:*/
    //     document.onmouseup = null;
    //     document.onmousemove = null;

    //     var collection = document.getElementById("boardTiles");
    //     collection.closestToOffset({left: 5, top: 5});

    //     var closestTile = element.closest("boardTile");
    //     var closestTileID = closestTile.id;
    //     var closestTileIdElm = document.getElementById(closestTileID);
    //     var playerAvatar = document.getElementById("playerAvatar");
    //     closestTileIdElm.insertAdjacentHTML('beforeend', playerAvatar);

    //   }
    // }

      function showScreenCoords(eventObj) {
        // offsetX and offsetY
        var boardX = eventObj.offsetX;
        var boardY = eventObj.offsetY;

        // var collection = document.getElementById("boardTiles");
        var collectedTiles = document.querySelectorAll(".boardTile");
        var closestTileID = closestToOffset(collectedTiles, {left: boardX, top: boardY});

        console.log(closestTileID);
        console.log("boardX: " + boardX);
        console.log("boardY: " + boardY);
        // var closestTileID = closestTile.id;
        var closestTileIdElm = document.getElementById(closestTile);
        var playerAvatar = document.getElementById("playerAvatar");
        closestTileIdElm.insertAdjacentHTML('beforeend', playerAvatar);
      }

      // https://stackoverflow.com/questions/2337630/find-html-element-nearest-to-position-relative-or-absolute
    function closestToOffset(collection, offset) {
      var el = null,
        x = offset.left,
        y = offset.top;
        el = Array.from(collection).forEach(doSomethingWithEachElement(this, x, y));
        return el;
      };

      function doSomethingWithEachElement(element, x, y) {
        var elOffset,
          distance,
          dx,
          dy,
          minDistance;

        elOffset = this.offset();
        right = elOffset.left + this.width();
        bottom = elOffset.top + this.height();

        if (
            x >= elOffset.left &&
            x <= right &&
            y >= elOffset.top &&
            y <= bottom
        ) {
            el = this.id;
            return false;
        }

        var offsets = [
            [elOffset.left, elOffset.top],
            [right, elOffset.top],
            [elOffset.left, bottom],
            [right, bottom],
        ];
        for (var off in offsets) {
            dx = offsets[off][0] - x;
            dy = offsets[off][1] - y;
            distance = Math.sqrt(dx * dx + dy * dy);
            if (minDistance === undefined || distance < minDistance) {
                minDistance = distance;
                el = this.id;
                return el;
            }
          }
        };



   </script>
  <body>
    <section class="page">
      <h1>Lunar Rebellion</h1>

      <section id="contentArea">
        <div id="questionFormBox" class="question-form">
          <form name="pick-a-player" id="pickAPlayer" class="form-box">
            <p>Please select a player</p>
            <label>
              <input type="radio" name="player" value="Cinder" checked> Cinder<br>
              <input type="radio" name="player" value="Scarlet"> Scarlet<br>
              <input type="radio" name="player" value="Cress"> Cress<br>
              <input type="radio" name="player" value="Winter"> Winter<br>
            </label>
          </form>

          <!-- Put this outside so form so it will submit and stay on the page -->
          <input type="submit" value="Start the game" id="submitCharacterForm">

        <div>
      </section>
    </section>

    <script>
    // create event listener to trigger the processing of the form:
      window.onload = function() {
        document.getElementById("submitCharacterForm").addEventListener('click', selectPlayerStartGame);
      }

    </script>
  </body>
</html>
