<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/socketHandler.js"></script>


<section class="page">
  <h1>Lunar Rebellion</h1>

  <section id="contentArea">
    <section id="sideContent" class="playerInfoSide">
      <p>Player:</p>
      <p class="player-card">{{player}}</p>
      <aside class="tool">
        <div id="diceResult">
          <small id="diceContent">Click to Roll Dice</small>
        </div>
        <button id="rollDiceBtn">Roll Dice</button>
      </aside>
      <button id="newGameBtn">New Game</button>
    </section>
    <section class="playArea">
      <div class="board" id="boardTiles">
          {{#each tiles}}
            <div class="boardTile" id="{{id}}">
              <span>{{title}}</span>
            </div>
          {{/each}}
      </div>
    </section>
    <section class="chat">
      <ul id="messages"></ul>
      <form id="chatBox" action="">
        <input id="m" autocomplete="off" placeholder="Type chat message here" />
        <button id="chatSubmitBtn">Send</button>
      </form>
    </section>


  </section>
</section>

