<script src="js/array-includes-polyfill.js"></script>
<script src="js/disablePlayerOption.js"></script>

    <section class="page">
      <h1>Lunar Rebellion</h1>

      <section id="contentArea">

        <div id="questionFormBox" class="question-form">
          <form method="post" action="/join" novalidate name="pick-a-player" id="pickAPlayer" class="form-box">
            <p>What is your name?</p>
            <input type="text" name="username" placeholder="name">
            <p>Please select a player</p>
            <label>
              <input type="radio" name="player" id="selectCinder" value="Cinder" checked> Cinder<br>
              <input type="radio" name="player" id="selectScarlet" value="Scarlet"> Scarlet<br>
              <input type="radio" name="player" id="selectCress" value="Cress"> Cress<br>
              <input type="radio" name="player" id="selectWinter" value="Winter"> Winter<br>
            </label>
            <input type="submit" value="Start the game" id="submitCharacterForm">
          </form>

        <div>
      </section>
    </section>
