* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Lunar Rebellion Styles */

* {
  box-sizing: border-box
}

.page header {
  padding: 1.5rem 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 6px solid black;
}

.page header h1 {
  font-family: 'Tulpen One', cursive;
  font-size: 2.5rem;
}

.page header h2 {
  font-family: 'Tulpen One', cursive;
  font-size: 1.5rem;
}

p,
input {
  margin-bottom: 1rem;
}

button {
  border: none;
  padding: 5px;
}

.board {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  width: 40rem;
  height: 30rem;
  margin-bottom: 12rem;
}
@media (min-width: 640px) {
  .board {
    width: 60rem;
    height: 50rem;
  }
}
.playArea {
  position: relative;
  overflow: auto;
}
.board .boardTile {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px white;
  text-align: center;
  background-color: gray;
  background-image: url("../images/space4.jpg");
  color: white;
  flex-basis: 16%;
}
.board .boardTile[id*="outerSector"] {
  background-image: url("../images/space1.jpg");
}
.board .boardTile[id*="lavaTube"] {
  background-image: url("../images/space2.jpg");
}
.board .boardTile[id*="maglevPlatform"] {
  background-image: url("../images/space5.jpg");
}
.board .boardTile span {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 1rem;
  justify-content: center;
  text-align: center;
  font-size: .6rem;
}
@media (min-width: 640px) {
  .board .boardTile span  {
    font-size: .8rem;
  }
}

.question-form {
  width: 50%;
  margin: 1rem auto auto 2rem;
  background-color: silver;
  padding: 2rem;
}

.question-form .form-box {
  width: 100%;
}

.question-form label {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#diceResult {
  width: 5rem;
  height: 5rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  margin-bottom: 1rem;
  margin-right: .6rem;
  border: 4px solid silver;
  border-radius: 1.5rem;
  position: relative;
  box-sizing: border-box;
}
#diceResult img {
  position: relative;
  width: 100%;
}
#diceResult small {
  font-size: .8rem;
}
#diceResult span {
  font-size: 3em;
  font-family: 'Tulpen One', cursive;
}
.tool {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#contentArea {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

@media (min-width: 640px) {
  #contentArea {
    flex-direction: row;
  }
}

#sideContent {
  width: 100%;
  background-color: Silver;
  position: relative;
  top: 0;
  left: 0;
  padding: 2rem;
  flex-shrink: 0;
  flex-grow: 0;
}

@media (min-width: 640px) {
  #sideContent {
    width: 15rem;
  }
}

.playerInfoSide .player-card {
  font-family: 'Tulpen One', cursive;
  font-size: 4rem;
  margin-bottom: 3rem;
}

.board .boardTile .player-avatar {
  width: 2rem;
  height: 2rem;
  background-color: red;
  border-radius: 50%;
  z-index: 100;
  position: absolute;
}

.game-token {
  width: 3rem;
  position: absolute;
  z-index: 99;
}
.game-token img {
  width: 100%;
}

#chat {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 10rem;
  width: 100%;
  z-index: 110;
}

@media (min-width: 640px) {
  #chat {
    width: 25rem;
  }
}

#chat > button {
  height: 1.5rem;
  background-color: Silver;
  margin-left: 1px;
}

#chat form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#chat form input {
  border: 0;
  padding: 10px;
  width: 70%;
  margin-right: .5%;
}
#chat form button {
  border: none;
  padding: 10px;
}
#chat #messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  border: black solid 1px;
  overlow: auto;
  height: 100%;
}
#chat #messages li {
  padding: 5px 10px;
}
#chat #messages li:nth-child(odd) {
  background: #eee;
}
#chat.colapse-chat {
  height: 80px;
}
#chat.colapse-chat #messages {
  height: 0;
}
#chat.colapse-chat> button#colapseChatBtn {
  display: none;
}
#chat > button#colapseChatBtn {
  display: block;
}
#chat > button#expandChatBtn {
  display: none;
}
#chat.colapse-chat > button#expandChatBtn {
  display: block;
}
